h1 {
font-size: 70px; 
font-family: Arial;   
}

.jumbotron {
 padding-bottom: 90px;
 padding-left: 10px;

}
 
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

